<!DOCTYPE html>
<html ng-app="">
	<head>
	 <title>DOM Tree App</title>
		<script src="angular.js"></script>
		<script src="myscript.js"></script>
	</head>
	<body>
		<div>
			<table border="0">
				<tr>
					<td>  
					<input type="checkbox" ng-model="enableDisableButton" />Disable Button
				</td>
					<td>
					<button ng-disabled="enableDisableButton">Click Me!</button>
					</td>
				</tr>
 
				<tr>
					<td>  
					<input type="checkbox" ng-model="showHide1" />Show Button
					</td>
					<td>
					<button ng-show="showHide1">Click Me!</button>
					</td>
				</tr>
 
				<tr>
					<td>  
						<input type="checkbox" ng-model="showHide2" />Hide Button
					</td>
					<td>
						<button ng-hide="showHide2">Click Me!</button>
					</td>
				</tr>
 
				<tr>
					<td>
						<p>
							Total clicks:{{ clickCounter}}
						</p>
					</td>
					<td>
							<button ng-click="clickCounter=clickCounter+1">Click Me!</button>
 
					</td>
				</tr>
			</table >
		</div>

	</body>
</html>